<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My blog</a></h1>
        </div>

        <div>
            <p>создан: 16.12.2023, 14:04</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi nam asperiores corporis, dolores voluptas illum odit sequi ullam exercitationem sint tempore cum, repudiandae velit ducimus assumenda, deleniti sunt ut?</p>
        </div>

        <div>
            <p>создан: 16.12.2023, 14:09</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi nam asperiores corporis, dolores voluptas illum odit sequi ullam exercitationem sint tempore cum, repudiandae velit ducimus assumenda, deleniti sunt ut?</p>
        </div>
    </body>
</html>